body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    max-width: 900px;
    margin: auto; 
}

h1 {
    text-align: center;
    color: #333;
}

li {
    padding: 10px;
    margin: 5px;
}

.done {
    text-decoration: line-through;
    color: #888;
    background-color: #eee;
}

.new-task {
    background-color: red;
    color: #fff;
}

